<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.11.0.min.js"></script>
        <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.11.0.min.css">
        {{script_a|safe}}
        {{script_b|safe}}
    </head>
    <body>
        {{div_a|safe}}
        {{div_b|safe}}

        <h1> Positions </h1>
        <ul>
            {% for p in positions %}
                <li><a href="/data/position/{{p.pk}}">{{p}}</a></li>
            {% endfor %}
        </ul>


        <h1> Players </h1>

        <ul>
            {% for p in players %}
                <li><a href="/data/player/{{p.pk}}">{{p.name}}</a></li>
            {% endfor %}
        </ul>
    </body>
</html>
