<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{player.name}}</title>
    <meta charset="UTF-8">
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.11.0.min.js"></script>
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.11.0.min.css">
    {{script_a|safe}}
    {{script_b|safe}}

</head>
<body>
    Statistics Charts for {{position}}

    {{div_a|safe}}
    {{div_b|safe}}

    <h1> Players </h1>

    <ul>
        {% for p in players %}
            <li><a href="/data/player/{{p.pk}}">{{p.name}}</a></li>
        {% endfor %}
    </ul>
</body>
</html> 
